body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

input {
  'font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

button {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;

}

input {width: 80px;
  height: 14px;}

a {
  color: #000000;
}


.rTable {
  display: block;
  width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow {
  clear: both;
}
.rTableHead, .rTableFoot {
  background-color: #DDD;
  font-weight: bold;
}
.rTableCell, .rTableHead {
  border: 1px solid #999999;
  float: left;
  height: 20px;
  overflow: hidden;
  padding: 3px 1.8%;
  width: 100px;
}
.rButtonCell {
  border: 1px solid #999999;
  float: left;
  overflow: hidden;
  padding: 3px;

  width: 50px;
}
.rTable:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}