<div ng-app="ProduceMarketApp">
    <div ng-controller="MainController as mController" ng-init="name='Prices Catalog';data=[1,2,3,4] ">
        <span>{{name}}</span> 
        <li ng-repeat="d in data">
            <div>Name: {{d}}</div>
        </li>
        <prices-List  ng-controller="PricesController as pController" ></prices-List>

    </div>
</div>