<h4>
    Prices List
    <button class="btn btn-primary" ng-click="newPrice()">New</button>
    <small  class="text-right">Search:
    <input placeholder="Item name" ng-model="searchkey"/>
    </small>
</h4>

<table class="table table-striped table-bordered table-hover">
    <thead>

    <tr>
        <td><strong>Id</strong></td>
        <td>Name</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>

</thead>

    <tr ng-repeat="p in prices | filter: searchkey">
        <td>{{p.Id}}</td>
        <td>{{p.ItemName}}</td>
        <td>{{p.Price}}</td>

        <td>
            <button  class="btn btn-primary" ng-click="editPrice(p.Id);">edit</button>
        </td>

        <td >
            <button  class="btn btn-danger" ng-click="deletePrice(p.Id);">delete</button>
        </td>
    </tr>

</table>


