<h3>Price detail</h3>

<div class="rTableRow">

    <div class="rTableHead">Id</div>
    <div class="rTableHead"><div disabled >{{price.Id}}</div>

</div>

<div class="rTableRow" >


    <div class="rTableCell">ItemName</div>
    <div class="rTableCell"><input ng-model="price.ItemName" type="text"></div>

</div>
<div class="rTableRow" >

    <div class="rTableCell">Price</div>
    <div class="rTableCell"><input ng-model="price.Price" type="text"></div>


</div>
<div class="rTableRow" >

    <div class="rTableCell"><button ng-click="save()">Save</button><button ng-click="new()">New</button></div>
    <div class="rTableCell"></div>


</div>