
        <h4>
            Prices List
            <button class="btn btn-primary" ng-click="newPrice()">New</button>
            <small>Search:
            <input   placeholder="Item name" ng-model="searchkey"/></small>
        </h4>

<table class="table">

    <tr>
        <td class="rTableHead"><strong>Id</strong></td>
        <td class="rTableHead">Name</td>
        <td class="rTableHead">Price</td>
        <td class="rTableHead rButtonCell">Edit</td>
        <td class="rTableHead rButtonCell">Delete</td>
    </tr>

    <tr class="rTableRow" ng-repeat="p in prices | filter: searchkey">

        <td class="rTableCell">{{p.Id}}</td>
        <td class="rTableCell">{{p.ItemName}}</td>
        <td class="rTableCell">{{p.Price}}</td>

        <td class="rTableCell rButtonCell">

            <!--<a href="#/prices/{{p.Id}}">edit</a>-->
            <button  class="btn btn-primary" ng-click="editPrice(p.Id);">edit</button>

        </td>

        <td class="rTableCell rButtonCell">
            <button  class="btn btn-primary" ng-click="deletePrice(p.Id);">delete</button>
        </td>


    </tr>

</table>


