
<div>

    <h4 >
        Prices history.
        <small>
        Search:
            <input ng-model="searchkey"  placeholder="Item name"/>

    </small>
    </h4>


</div>

<table class="table">

    <tr>
        <td><strong>Id</strong></td>
        <td><strong>Name</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Price was</strong></td>
        <td><strong>Action</strong></td>
    </tr>

    <tr class="rTableRow" ng-repeat="p in prices | filter: searchkey">

        <td>{{p.Id}}</td>
        <td>{{p.ItemName}}</td>
        <td>{{p.Price}}</td>
        <td>{{p.priceWas}}</td>
        <td>{{p.Action}}</td>

    </tr>

</table>


