
<h3>
<span class="label label-default">Sale detail</span>
<small>
    <button class="btn btn-primary" ng-click="save(sale)">Save</button>
    <button class="btn btn-warning"  ng-click="addSaleDetail()">+</button>
</small>
</h3>


<table class="table">

<tr>
    <td>Id</td>
    <td disabled>{{sale.Id}}</td>
</tr>

<tr>
    <td >Date</td>
    <td ><span  type="text">{{sale.Date.toString().substr(0,10)}}</span></td>
</tr>


<tr>
    <td>Amount</td>
    <td ><span  type="number">{{priceSum(sale)}}</span></td>
</tr>

</table>



<table class="table">

    <tr  ng-repeat="s in sale.SaleDetails">


        <td  ng-show="!s.ItemName">
            <select  class="form-control input-sm" ng-model="s.ItemName" ng-change="updatePrice(s)"
                    ng-options="item.ItemName as item.ItemName for item in prices">
            </select>
        </td>

        <td   ng-show="s.ItemName">
            {{s.ItemName}}
        </td>

        <td  ng-show="s.Price" >{{s.Price}}</td>

        <td  ng-show="!s.Price" >
            <input ng-model-options="{ updateOn: 'blur'}" type="number" ng-model="s.Price" />
        </td>

        <td  ng-show="s.Units" >{{s.Units}}</td>
        <td  ng-show="!s.Units" >
            <input type="number" ng-model="s.Units" ng-model-options="{ updateOn: 'blur'}"  ></td>

        <td >
            <button class="btn btn-danger" ng-click="removeSaleDetail(s)">-</button>
        </td>

    </tr>

</table>





