    <h4>Sales
        <button class="btn btn-primary" ng-click="newSale()">New</button>
        <small>
            Search:
            <input   placeholder="Item name" ng-model="searchkey"/>
        </small>
    </h4>

<table class="table">

    <tr>
    <td ><strong>Id</strong></td>
    <td ><string>Date</string></td>
    <td ><string>Sum</string></td>
    <td >Edit</td>
    <td >Delete</td>
</tr>

        <tr  ng-repeat="s in sales | filter: searchkey">

        <td >{{s.Id}}</td>
        <td  >{{s.Date.toString().substr(0,10)}}</td>
        <td>{{priceSum(s)}}</td>

        <td>

            <!--<a href="#/prices/{{p.Id}}">edit</a>-->
            <button   class="btn btn-primary" ng-click="editSale(s.Id);">edit</button>

        </td>

        <td >
            <button  class="btn btn-primary" ng-click="deleteSale(s.Id);">delete</button>
        </td>


    </tr>

</table>


