<h3>Sale detail</h3>

<style>
    .wide {width: 300px;}
    .narrow {width: 30px;}

</style>

<div class="rTableRow">

    <div class="rTableHead">Id</div>
    <div class="rTableHead wide">
        <div disabled >{{sale.Id}}</div>

</div>

<div class="rTableRow" >


    <div class="rTableCell" >Date</div>
    <div class="rTableCell wide" ><span  type="text">{{sale.Date.toString().substr(0,10)}}</span></div>

</div>
<div class="rTableRow" >

    <div class="rTableCell">Amount</div>
    <div class="rTableCell wide"><span  type="text">{{priceSum(sale)}}</span></div>


</div>



<div class="rTableRow" >

    <div class="rTableCell">
        <button ng-click="save(sale)">Save</button>
    </div>
    <div class="rTableCell wide"></div>


</div>
    <div style="height: 50px;"></div>

    <div class="rTableRow" class="rTableRow" ng-repeat="s in sale.SaleDetails">


        <div class="rTableCell" ng-show="!s.ItemName">
                <select ng-model="s.ItemName" ng-change="updatePrice(s)"
                        ng-options="item.ItemName as item.ItemName for item in prices">
                </select>
        </div>

        <div class="rTableCell" ng-show="s.ItemName">
            {{s.ItemName}}
        </div>


        <div  ng-show="s.Price" class="rTableCell">{{s.Price}}</div>

        <div  ng-show="!s.Price" class="rTableCell">
            <input ng-model-options="{ updateOn: 'blur'}"  ng-model="s.Price" />
        </div>

        <div  ng-show="s.Units" class="rTableCell">{{s.Units}}</div>
        <div  ng-show="!s.Units" class="rTableCell">
            <input ng-model="s.Units" ng-model-options="{ updateOn: 'blur'}"  ></div>

        <div class="rTableCell narrow">
            <button ng-click="removeSaleDetail(s)">-</button>
        </div>

    </div>

<div class="rTableRow" style="height: 20px;"></div>

    <div class="rTableRow" style="height: 100px;">
    <button ng-click="addSaleDetail()">+</button>

</div>
